* {
  box-sizing: border-box;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  margin: 2px;
  margin-top: 12px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(22, 22, 22);
  color:rgb(185, 199, 211);
  gap: 12px;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.sign-buttons {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  zoom: 4;
  padding: 6px 12px;
  margin: 0px;
}

button {
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 2px black;
  background-color: rgb(203, 209, 214);
}



.human-score, .human-choice, .computer-score, .computer-choice {
  display: inline-block;
  width: 20px;
  border-radius: 6px;
}

.game-over {
  font-size: x-large;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reset-button {
  margin: 6px;
  font-size: 24px;
}
